@charset "UTF-8";

ul>ul>li{
   margin:0px;
}

#header-dropdown {
	width: 1000px;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
}

 #header-dropdown > ul > li {
        display: inline-block;
        position: relative;
        margin:0px; 
      }

 #header-dropdown > ul > li > ul {
        position: absolute;
        top:40px;
        left:-23px;
        list-style-type: none;
        padding-left: 1.5em;
        text-align:center;
        display: none;      
        margin:0px auto;
        height: 90px;     
        z-index: 10;   
        background-color: white; 
        border: 1px solid #DDDDDD;
        font-family: 'Montserrat','NotoSansKR',sans-serif; 
        font-size: 14px;
      }
      
      
      #header-dropdown > ul > li:hover > ul {
        display: block;        
      }
      
      #menu-right{
      font-size: 10px;
      }
